*{
    background-color: hsl(0, 0%, 12%);
}
.calc{
    justify-self: center;
    margin-top: 100px;
    background-color: #1c2027;
    color: #cbcddc;
    padding: 10px;
}
.calc input{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background-color: #46484e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 10px;
    color: #cbcddc;
    font-size: 22px;
}
.you{
    display: flex;
    background-color: #1c2027;
}
.you div{
    background-color: #1c2027;
}
.you button:hover{
    cursor: pointer;
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: space-around;
    justify-self: left;
    margin-left: 10px;
}
.numbers button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #333438;
    color: #cbcddc;
}
.texts{
    display: flex;
    flex-direction: column;
    width: 100px;
    row-gap: 20px;
    margin-left: 30px;
}
.texts button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #2c303d;
    color: #cbcddc;
}

@media (min-width: 320px) {
    .calc {
        width: 330px;
        justify-self: center;
        margin-left: 30px;
        margin-top: 20px;
    }
    .calc input{
        width: 310px;
        color: #cbcddc;
    }
    .numbers{
        column-gap: 10px;
    }
    .numbers button{
        width: 70px;
        height: 50px;
    }
    .texts{
        width: 70px;
        row-gap: 20px;
        margin-left: 10px;
    }
    .texts button{
        width: 70px;
        height: 50px;
    }
}